.inputText {
  border: 2px solid var(--primary);
  border-radius: calc(1 * var(--space-unit));
  background: white;
  height: 100%;
}

.flatInputText {
  background-color: var(--gray--light);
  border: none;
  border-radius: var(--space-unit);
  padding: calc(2 * var(--space-unit)) calc(3 * var(--space-unit));
}

.flatInputTextError {
  border: 2px solid red;
}

.textError {
  color: red;
}

.selectLabel {
  display: flex;
  align-items: stretch;
}

.select {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--primary);
  border-radius: calc(1 * var(--space-unit));
  padding: 0 calc(1 * var(--space-unit));
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.label {
  display: flex;
  flex-direction: column;
  gap: var(--space-unit);
}

.stackedInputs {
  display: flex;
  flex-direction: column;
  gap: calc(4 * var(--space-unit));
}
